<main class="container">
	<div class="card margIndex3">
		<div class="row">
			<div class="col s12">
				<div class="card cardCol darken-1">
					<div class="card-content white-text">
						<span class="card-title">Buy Item</span>
						<p>Product Title: {{productTitle}} </p>
						<p>Price: ${{price}}</p>
						<p>Condition: {{conditionName}}</p>
						<p>Link to Image: <a class="icons"href="{{linkToImage}}">{{linkToImage}}</a></p>
						<p>Description: {{description}}</p>
						<br>
						<p>Seller Name: {{"User.first"}} {{"User.last"}}</p>
						<p>Upload Date: {{time createdAt}}</p>
						
						
					</div>
					<br>
					<br>
					<a  id="emailBtn" data-id="{{ id }}" class="waves-effect waves-light white black-text btn" href="mailto:{{"User.email"}}?
					&subject=Uni-Buy: Someone wants to purchase one of your items!
					&body=Dear {{"User.first"}} {{"User.last"}},%0D%0A%0D%0AI'm interested in purchasing your {{productTitle}}.">Email Buyer to Purchase</a>
					<br>
					<br>
				</div>
			</div>
		</div>
	</div>

</main>



{{!-- Add script tags for js and jquery here --}}
<script src="/js/buyItem.js"></script>